body,
html {
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

.container_geral>* {
    background-color: gray;
    border-radius: 15px;
}

.container_geral {
    gap: 10px;
    height: 95vh;
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.2fr;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-areas: "aside header header" "aside main main" "footer footer footer";
}

.btn_voltar {
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    text-decoration: none;
    background-color: black;
}


/* container lado */

aside {
    grid-area: aside;
    text-align: center;
    padding: 10px 10px;
    border: 5px solid green;
}

.btn_voltar {
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    text-decoration: none;
    background-color: black;
}

.btn_voltar:hover {
    color: black;
    border: 3px solid black;
    background-color: white;
}


/* cabeçario */

header {
    grid-area: header;
    padding: 20px 15px;
    border: 5px solid blue;
}

header>h1 {
    margin: 0;
}


/* roda pé */

footer {
    grid-area: footer;
    border: 5px solid purple;
}


/* corpo */

main {
    grid-area: main;
    border: 5px solid black;
}