body,
html {
    margin: 0;
    font-size: 25px;
    padding: 25px 25px;
}

.btn_voltar {
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    text-decoration: none;
    background-color: black;
}

.btn_voltar:hover {
    color: black;
    border: 3px solid black;
    background-color: white;
}

.linha {
    margin: 50px 0px;
}

.border_black {
    border: 4px solid black;
}

.container_geral {
    padding: 25px 25px;
    background-color: rgba(68, 67, 67, 0.959);
}

.informacao {
    width: 800px;
    margin: auto;
    text-align: center;
    border-radius: 100px;
    background-color: white;
}

.geometrica {
    width: 70px;
    height: 70px;
    margin: 10px;
    display: inline-block;
    border-left: 3px solid blue;
    border-right: 3px solid red;
    background-color: greenyellow;
}

.geometrica_redonda {
    border-radius: 100px;
}

.container_geometricas {
    text-align: center;
}